<h1>New Entry</h1>

<%= form_with :model => @post do |form| %>
  <p>
    <%= form.label "Title" %>
    <%= form.text_field "title" %>
    <%= form.label "Description" %>
    <%= form.text_field "description" %>
    <%= form.label "Posted on" %>
    <%= form.text_field "posted_on" %>
  <%= form.hidden_field "place_id" %>
  <%= form.submit %>
<% end %>